body {
    margin: 0px;
}
#searchbar {
    background: none repeat scroll 0 0 #036185;
    padding: 5%;
    color: white;
}

#searchbar input[type=text] {
    width: 100%;
}

#searchbar #searchbutton {
    margin-top: 1em;
    float: right;
}

#statusbar,
#footer {
    padding: 1%;
    background-color: lightgrey;
}

#content {
}

#content .bookentry {
}

#content .bookentry .bookheader,
#content .bookentry .bookfooter,
#content .bookentry .bookdesc {
    padding: 1%;
}

#content .bookentry .bookheader {
    background: none repeat scroll 0 0 #036185;
    color: white;
}
#content .bookentry .bookheader a {
    color: white;
    text-decoration:none;
}

#content .bookentry .bookdesc {
    margin: 1%;
}

#content .bookentry .bookfooter {
    text-align: right;
    margin-bottom: 3%;
    margin-right: 1%;
}
#content .bookentry .bookfooter a {
    background-color: #036185;
    color: white;
    border-color: #036185;
    border-radius: 0.5em;
    padding: 1em;
}

.error {
    color: #d74d4d;
}

.bookheader {
}

.booktitle {
    float: left;
}

.booktitle .bookauthor {
    font-weight: bold;
    margin-bottom: 1.5em;
}

.bookcover {
    width: 10%;
    float: right;
}

.bookcover img {
    width: 100%;
    height: auto;
}

.bookdesc {
}

#footer a {
    color: black;
    text-decoration: none;
}

#content .bookentry .booknext,
#content .bookentry .bookprev {
    text-align: center;
}

#spacefooter {
    height: 20em;
    width: 100%;
}

#footer #toplnk {
    float: left;
}

#footer #pager {
    position: absolute;
    left: 47%;
    float: left
}
