/*
* {
    box-sizing: border-box;
}
*/

body {
    margin: 0px;
    font-family: sans-serif;
}

/* searchcontainer contains the searchfields and the querybar */
#searchcontainer {
    position: fixed;

    background: none repeat scroll 0 0 #036185;
    color: white;

    width: 100%;
    z-index: 999;
}

#searchcontainer label {
    text-align: right;
    display: inline-block;
    width: 6.5rem;
    line-height: 2;
    padding: 5px;
}


/* Top Search bar */
#searchbar-top {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    font-weight: bold;
}
#searchbar-top input[type=text] {
    flex-grow: 5;
    max-width: 62rem;
}
#searchbar-top input[type=button],input[type=submit] {
    width: 7rem;
    margin-left: 10px;
}

/* search fields */
#searchfields {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

#searchfields div {
    display: flex;
    flex-wrap: nowrap;
}

#searchfields input[type=text] {
    width: 16rem;
}
#searchfields input[type=radio] {
    margin-top: 0.5rem;
}

#searchfields label.radio {
    text-align: left;
    width: 4rem;
    line-height: 2em;
}


/* Bottom Search bar */
#searchbar-bottom {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
}
#searchbar-bottom input[type=text] {
    flex-grow: 5;
    max-width: 62rem;

}
#searchbar-bottom input[type=button],input[type=submit] {
    width: 7rem;
}

#status {
    min-width: 14rem;
    flex-grow: 1;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    line-height: 2;
    margin-left: 10px;
    margin-right: 10px;
}
#status.error {
    background-color: red;
}

.irrelevant input[type=text] {
    background-color: lightgrey;
}


/* booklist is a container for items of the class bookentry */
#booklist {
    width: 100%;
    padding-top: 15em;
    display: table;
}

div .bookentry {
    display: table-row;
}

div .bookcover {
    display: table-cell;
    width: 200px;

    border-bottom: 5px solid lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.bookcover img{
    width: 100%;
    padding-top: 5px;
    height: auto;
}

.bookdata  {
    display: table-cell;
    vertical-align: top;

    border-bottom: 5px solid lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.bookdata div {
	padding-top: 5px;
	padding-bottom: 5px;
}
.bookdata a {
    text-decoration: none;
}
.bookdata ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.bookdata li {
    display: inline-block;
    margin-right: 10px;
}
.bookdata .download a {
    display: inline-block;
    background-color: #408ccb;
    color: white;
    font-weight: bold;
    border: 8px solid #408ccb;
    border-radius: 3px;
}
.bookdata .booktitle {
    font-size: 160%;
}
.bookdata .bookauthors li {
    color: #43b49e;
    cursor: pointer;
}
.bookdata .bookdate li {
    color: #43b49e;
    cursor: pointer;
}
.bookdata .bookseries span {
    color: #43b49e;
    cursor: pointer;
}

.bookdata .booklanguages li {
    background-color: #9a9a9a;
    color: white;
    font-size: 85%;
    border: 3px solid #9a9a9a;
    border-radius: 3px;
}
.bookdata .booklanguages li {
    color: white;
    cursor: pointer;
}

.bookdata .bookidentifiers li {
    background-color: #57b555;
    color: white;
    font-size: 85%;
    border: 3px solid #57b555;
    border-radius: 3px;
}

.bookdata .booktags li {
    background-color: #5bc1df;
    color: white;
    font-size: 85%;
    border: 3px solid #5bc1df;
    border-radius: 3px;
}
.bookdata .booktags li {
    color: white;
    cursor: pointer;

}

.bookdata .bookdescription h1 {
    font-size: 120%;
}

/*
@media (max-width: 800px) {
    #booklist {
	padding-top: 22rem;
    }
*/

@media (max-width: 1000px) {
    #searchfields {
	display: none;
    }
    #searchbar-top label {
	display: none;
    }
    #clearbutton {
	display: none;
    }
    #status {
	display: none;
    }
    #searchbar-bottom {
	display: none;
    }
    #booklist {
	padding-top: 3rem;
    }
}
